# Terraform variables example template
project_id                = "your-gcp-project-id"
region                    = "US"
cloud_run_region          = "us-central1"
spanner_instance_id       = "gea-arch-guidelines-spanner"
spanner_config            = "nam3"
spanner_database_name     = "arch_guidelines_graph"
spanner_processing_units  = 100
spanner_edition           = "ENTERPRISE"
bq_dataset_id             = "gea_arch_guidelines_analytics"
bq_location               = "US"
gcs_bucket_name           = "gea_agent_development_architectural_best_practices_1790796607"
cloud_run_service_name    = "gea-agents-arch-guidelines-mcp-server"
cloud_run_container_image = "us-docker.pkg.dev/cloudrun/container/hello"
